* {
    box-sizing: border-box;
}

body {
    /*background-image: url('/src/assets/images/backgroundtw.jpg');*/
    /*background-size: cover;*/
    background-color: #ffffff;
}

.App {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    backdrop-filter: blur(22px);
    min-height: 100vh;
}


*::selection {
    background-color: #9f9ea2;
}

*::-webkit-scrollbar {
    border-radius: 13px;
    width: 10px;
    border: 1px solid #553293;
    background-color: rgba(92, 89, 94, 0.22);
    overflow: visible;
}
*::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #9147ff;
    border: 1px solid grey;
    border-radius: 22px;
}