body {
    background-image: url('/src/assets/images/backgroundtw.jpg');
    background-size: cover;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    backdrop-filter: blur(22px);
    min-height: 100vh;
}

.App-nav-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 10vw;
    margin-top: 5vh;
}

::selection {
    background-color: #322a6b;
}