* {
    box-sizing: border-box;
}

body {
    /*background-image: url('/src/assets/images/backgroundtw.jpg');*/
    /*background-size: cover;*/
    background-color: #ffffff;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    backdrop-filter: blur(22px);
    min-height: 100vh;
}

.App-nav-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 10vw;
    margin-top: 5vh;
}

::selection {
    background-color: #9f9ea2;
}

body::-webkit-scrollbar {
    border-radius: 2px;
    width: 10px;
    border: 1px solid #553293;
    background-color: rgb(39, 7, 54);
    overflow: visible;
}
body::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgba(87, 31, 115, 0.96);
    border: 1px solid grey;
    border-radius: 22px;
}