.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-error {
    color: darkred;
    font-weight: bold;
}

.search input {
    background-color: #ebebeb;
    border: 1px solid rgb(96, 92, 92);
    outline: none;
    color: rgb(0, 0, 0);
}

.search input:focus {
 border: 2px solid #9147ff;
}

.search button {
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 4px;
    background-color: #9147ff;
}

.search button:hover {
    cursor: pointer;
    background-color: #6314d5;
}