.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-error {
    color: darkred;
    font-weight: bold;
}

.search input {
    background-color: rgba(137, 61, 210, 0.51);
    border: 1px solid rgba(29, 6, 84, 0.32);
    outline: none;
    color: rgba(255, 255, 255, 0.75);
}

.search input:focus {
    color: white;
}

.search button {
    font-weight: bold;
    color: #ffffff;
    border: none;
    padding: 4px;
    background-color: rgba(84, 86, 187, 0.45);
}