.window {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.window:hover {
    cursor: move;
    box-shadow: 3px 3px 12px #6314d5;
}

.window iframe {
    border: 0;
}

.window__channel-name {
    z-index: 1;
    position: absolute;
    color: #ffffff;
    background-color: #6314d5;
    top: -5px;
    font-weight: bold;
    left: 0;
    text-align: center;
    border-radius: 4px;
    border: 2px solid white;
    border-left: 0;
    overflow: clip;
}

.window__chat {
    display: flex;
}

.window__chat__handler-chat-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9147ff;
    border: 1px solid gray;
    font-weight: bold;
    text-align: center;
}

.window__chat__handler-chat-pos:hover {
    cursor: pointer;
    background-color: #6314d5;

}

.window__chat__btn {
    border: none;
    width: 90%;
    color: #000000;
}

.window__chat__btn:hover {
    cursor: pointer;
    background-color: rgba(220, 220, 222, 0.73);
}

.window__chat__btn:active {
    scale: 0.9;
}

.window__handler {
    position: absolute;
    top: -8px;
    right: -15px;
    display: flex;
    flex-direction: row;
    width: 15px;
    border-radius: 5px;
}

.window__handler:hover {
    box-shadow: 3px 3px 10px #6314d5;
}

.window__delete {
    display: flex;
    justify-content: center;
    width: 14px;
}

.window__delete:hover {
    cursor: pointer;
    scale: 1.3;
}

.window__delete:active {
    scale: 1.4;
}