.search {
    margin-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-error {
    position: absolute;
    top: -35px;
    color: darkred;
    font-weight: bold;
}
.search-input-wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.search-input-wrapper input {
    background-color: #ebebeb;
    border: 2px solid rgb(96, 92, 92);
    width: 100%;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 12px;
}

.search-input-wrapper input:focus {
    border: 2px solid #9147ff;
}

.search-clear-btn {
    right: 2px;
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}

.search-clear-btn img {
    height: 100%;
}

.search-clear-btn:hover {
    cursor: pointer;
}

.search-streamer-avatar {
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

.search-result-channels {
    border: 2px solid white;
    border-radius: 12px;
    height: 80vh;
    width: 250px;
    z-index: 1;
    background-color: #ebebeb;
    position: absolute;
    top: 42px;
    overflow-y: scroll;
    overflow-x: clip;
    box-shadow: 3px 3px 12px black;

}
.search-result-channels:hover {
    border: 2px solid #9147ff;

}

.search-result-channel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.search-result-channel:hover {
    cursor: pointer;
    background-color: #b7a8f5;
}
