.table {
    position: relative;
    left: 13rem;
    height: 100vh;
    width: calc(100vw - 208px);


}

.table__windows {
    border-left-width: 1px;
    border-color: #8B5CF6;
    width: 100%;
    height: 100%;;
}
