.table {
    margin: 2% auto;
    min-height: 90vh;
    width: 89vw;
}

.windows {
    min-height: 90vh;
    background-color: rgb(236, 234, 234);
    border-radius: 10px;
    border: 1px solid white;
}

.windows:hover {
    border: 1px solid #9147ff;

}
