.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #6314d5;
}

.login h2 {
    color: snow;
    text-shadow: 3px 3px 13px black;
}

.login a {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 22px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid blueviolet;
    box-shadow: 3px 3px 18px #f5f5f5;
}

.login a:hover {
    background-color: #553293;
    scale: 1.1;
}

.login a:active {
    scale: 0.9;
}

