.nav {
    max-height: 100vh;
    border: 2px solid #d7d6d6;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}

.nav:hover {
    box-shadow: 3px 3px 6px black;
    border: 2px solid #9147ff;
}

.nav__channels-onboard {
    margin-top: 5px;
    width: 100%;
    max-height: 20vh;
    color: black;
    font-weight: bold;
    overflow-y: auto;
    border: 2px solid gray;
    border-radius: 12px;
}

.nav__channels-onboard .nav__channel {
    height: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid #7c7676;
    width: 100%;
    border-radius: 12px;
}

.nav__channels-onboard span:hover {
    opacity: 0.8;
    color: rgba(93, 114, 134, 0.94);
}

.nav__channel {
    position: relative;
}

.nav__channels-delete img {
    position: absolute;
    top: 4px;
    right: 2px;
    width: 14px;
}

.nav__channels-delete img:hover {
    cursor: pointer;
    scale: 1.2;
}

.nav__channels-delete img:active {
    cursor: pointer;
    scale: 1;
}

.nav__userinfo:hover {
    background-color: #e0dcdc;
    border-radius: 12px;
}

.nav__userinfo__nickname a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: clip;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav__userinfo__nickname img {
    width: 50px;
    border: 2px solid darkviolet;
    border-radius: 20px;
}

.nav__my-follows {
    border: 2px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 25vh;
    overflow: auto;
}

.nav__my-follow {
    text-align: left;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.nav__my-follow:hover {
    background-color: #7c7676;
}

.nav__userinfo__nickname-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}
